.salespersonspage {
  margin-left: 230px;
  padding: 15px;
  min-width: fit-content;
}
.page__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.searchbar {
  margin-right: 10px;
  display: flex;
}
.addNew__button {
  width: 140px;
  height: 30px;
}
