.leftPart {
  background-color: rgb(9, 58, 80);
  color: white;
  min-height: 300px;
  padding: 6px 30px;
  font-size: 15px;
  text-align: center;
}
.avatar__box {
  padding-top: 5px;
  padding-bottom: 10px;
}
.avatar {
  height: 150px !important;
  width: 150px !important;
}
.managerName__box {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 50px;
}
.leftPart__bottom {
  margin-top: 50px;
  text-align: left;
}
.leftPart__bottom__row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.leftPart__icon {
  margin-right: 10px;
}
.rightPart {
  padding: 50px 20px;
  font-size: 15px;
}
