.main {
    min-width: 250px;
    padding-top: 90px;
    margin-left: -5px;
    background:#F3F7FB;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    height:100%;
    position: fixed;
}

.component {
    border: none;
    min-width: 205px;
    margin-left: 5px;
    padding: 10px;
    font-size: 16px;
    min-height: 40px;
    color: #174283;
    font-weight: 700;

}