label {
    font-size: 15px;
    font-weight: 550;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 10px;
}

.form {
    margin: 5px;
    width: 500px;
    padding: 20px;
    background-color: rgb(66, 65, 65);
}

option {
    font-weight: 500;
}
.input_warning{
    color: #ff0202;
}