.warehousepage {
  padding: 25px;
  min-width: fit-content;
}
.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.searchbar {
  margin-right: 10px;
  display: flex;
}
.page_bottom{
  margin-top: 5px;
}
.addNew__button {
  font-size: 12px !important;
  width: 120px;
  height: 30px;
  background-image: linear-gradient(#0dccea, #0d70ea);
  color: white !important;
}
